<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>

 <form name="" method="POST" action="/account/create">
    <table>
<!--         <tr>
        <td><input type="text" name="createwallet" ></td>
        </tr> -->
      
        <tr>
        <td colspan="2"><input type="submit" value="Create a Solana Wallet" ></td>
        </tr>
    </table>

    <p>


    </form>
<% if (locals.pubkey) { %>

  <div class="jumbotron">
    <h1>Your new Solana wallet is here: </h1>
    <p> <br> </p>
    <h3>PubKey: </h3>
    <p><%= pubkey %></p>
    <p> <br> </p>
    <h3>Save this Seed Phrase (12 words) in a very secure place, without it you will lose access to your new cryptoassets wallet: </h3>
    <p><%= seedphrase %></p>
    <p> <br> </p>
    <ul>

</div>

<% } %>
       
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>
